.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
          "nav nav nav nav"
          "sidebar main main main"
          "sidebar content1 content2 content3"
          "sidebar content4 content5 content5"
          "sidebar footer footer footer" ;
}

nav{
  background: chartreuse;
}

main{
  background: chocolate;
}
#sidebar{
  background: coral;
}

#content1{
  background: darkgray;
}

#content2{
  background: darkred;
}

#content3{
  background: darkviolet;
}

#content4{
  background: gold;
}

footer{
  background: dodgerblue;
}