body {
    margin: 0;
    padding: 0;
    background: #222;
}

h1 {color: #ff1d25;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container{
   width: 80%;
   margin: 0 auto;
   position: sticky;

}

header{
    background: rgb(255, 255, 255);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav{
    float: right;
} 

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

.story{
   padding: 40px;
   right: 50px;
   }