body {
    margin: 0;
    padding: 0;
    background: #D2D9D8;
}

h1 {color: #ff1d25;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar{
    top: 0%;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   height: 70px;
   z-index: 1;
   background-color: whitesmoke;
   }

   .nav{
       display: flex;
       justify-content: right;
       list-style: none;
       margin-right: 5%;
   }

   

   .logo{
       flex: 1 1 auto;
       margin-left: 10%;
       font-family: futura-pt-bold, sans-serif;
       font-weight: 700;
       font-style: normal;
       text-transform: uppercase;
       letter-spacing: 1px;
       font-weight: bold;
       font-size: 35px;

        }
        a{
            margin: 20px;
            text-decoration: none;
        }

        .cover{
            margin: 20px;
        }

    .grid{
        margin: 20px auto;
        width: min(90%, 75rem);
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 2em;
       } 

       @media (min-width: 5em) {
           .columns {
               grid-auto-flow: column;
           }
       }
    
   

