body {
    margin: 0;
    padding: 0;
    background: #D2D9D8;
}

h1 {color: #ff1d25;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar{
    top: 0%;
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   height: 70px;
   z-index: 1;
   background-color: whitesmoke;
   box-shadow: 1px 1px 4px 0 #ff1d25;
   }

   .nav{
       display: flex;
       justify-content: right;
       list-style: none;
       margin-right: 5%;
   }

   

   .logo{
       flex: 1 1 auto;
       margin-left: 5%;
       font-family: futura-pt-bold, sans-serif;
       font-weight: 700;
       font-style: normal;
       text-transform: uppercase;
       letter-spacing: 1px;
       font-weight: bold;
       font-size: 35px;
    }

    .icon{

        margin-left: 15px;
        margin-right: 15px;
    }

    
    
    a{
            
            text-decoration: none;
            color: #ff1d25;
        }

      p{
          margin: 400px;
      }  

    .grid{
        margin: 20px auto;
        width: min(90%, 75rem);
        display: grid;
        gap: 2em;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        height: 100%;
       } 

       @media (min-width: 5em) {
           .columns {
               grid-auto-flow: column;
           }
       }
    
   

